* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../Source/NavigationGif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.Navigation {
    width: 900px;
    height: 500px;
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url('../Source/NavigationBack.jpg');
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
}

.InfoIdentification {
    position: relative;
    /*top: 50%;*/
    left: 50%;
    opacity: 0.3;
    margin-left: -125px;
    margin-top: -41px;
    display: none;
}
